html{
    font-size: 20px;
}


body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}


h1 {
    border-bottom: 3px solid rgb(115, 115, 114);
    font-family: "Josefin Sans" ,sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    text-shadow: 3px 3px 6px blue
    
}

#basic{
    font-weight: bold;
}



.blue {
  color: skyblue;
}
.pink {
  color: pink;
}





